<nav class="navbar navbar-light header">
    <div class="container-fluid d-flex flex-column justify-content-center">
        <div>
            <a class="navbar-brand mb-0 itsme" href="/">
                <img src="/public/images/logo.png" alt="" height="48"
                    class="d-inline-block align-text-center">MrPuppeteer
            </a>
        </div>
        <div>
            <a class="navbar-brand" href="/about">About</a>
            <a class="navbar-brand" href="/contact">Contact</a>
            <a class="navbar-brand" href="#">Blog</a>
        </div>
    </div>
</nav>