<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/public/css/about.css">

<div class="container mt-5 mx-auto">
    <div class="row flex-column flex-md-row">
        <div class="col order-2 order-md-1">
            <h1 class="display-1">About.</h1>
            <p class="lead">I'm an undergraduate student in Informatics.</p>
            <p>I spent my day staring at the screen, centering a div. When I'm not writing codes, you'll find me
                learning some math, reading a novel, or playing gacha games.</p>
        </div>
        <div class="col order-1 order-md-2 text-center">
            <img class="img-fluid img" src="/public/images/logo.png" alt="">
        </div>
    </div>
</div>