<% layout('layouts/boilerplate') %>

<div class="text-center">
    <h1 class="mt-5">Hello, I'm BagasN</h1>
    <p class="lead">Undergraduate student in Informatics; Web developer; IT & Math enthusiast; Manga and novel
        reader; Gacha gamer;</p>
    <pre class="code display-1"><code>&lt;/&gt;</code></pre>
    <figure>
        <blockquote class="blockquote">
            <p>The more I learn, the more I realize how much I don't know.</p>
        </blockquote>
        <figcaption class="blockquote-footer">
            Albert Einstein
        </figcaption>
    </figure>
</div>