<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/public/css/index.css">

<div class="container d-flex flex-column">
    <!-- <div class="row"> -->
    <div class="hi d-flex flex-column justify-content-center m-5">
        <div class="m-auto">
            <h1 class="display-5">Hello, I'm BagasN;</h1>
            <p class="lead">Web Developer;</p>
        </div>
    </div>
    <!-- <div class="col text-center">
            <img class="img-fluid" src="/public/images/code.svg" alt="server code">
        </div> -->
    <!-- </div> -->
    <div class="text-center mt-auto">
        <figure>
            <blockquote class="blockquote">
                <p>The more I learn, the more I realize how much I don't know.</p>
            </blockquote>
            <figcaption class="blockquote-footer">
                Albert Einstein
            </figcaption>
        </figure>
    </div>
</div>