body {
    font-family: monospace;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    border-bottom: 1px solid #bccad0;
}

main {
    /* background: #e3e8ea; */
    flex-grow: 1;
    background: linear-gradient(to right bottom, #e3e8ea 10%, #fff 90%);
}

.footer {
    border-top: 1px solid #bccad0;
}

.itsme {
    font-size: 2.5rem;
    font-weight: 300;
}

a:hover {
    text-decoration: underline;
}