body {
    font-family: monospace;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.itsme {
    font-size: 2.5rem;
    font-weight: 300;
}

.header {
    border-bottom: 1px solid #bccad0;
}

a:hover {
    text-decoration: underline;
}

.code {
    font-size: 8rem;
}

.footer {
    border-top: 1px solid #bccad0;
}